**/run[0-9]/**
**/ign[0-9]/**
**/run[0-9]_incomplete/**
**/ign[0-9]_incomplete/**
**/experiments/*/*/test/**
datasets/**
.idea/**
datasets.zip
debug_empty_meta_optimizer/**
debug_grid_search/**
**/__pycache__/**
lstm/**
reports/**
res_net_relu/**
subword_nmt/**
**/launch/*/**
**/hp_search/*/**
**/hp_search_short/*/**
**/*checkpoint*
**/plots/
**/launch_log*.txt
**/launch_log.txt

learning_to_learn/experiments/adagrad_correct/cifar10/max_train/adagrad/
learning_to_learn/experiments/adagrad_correct/mnist/max_train/adagrad/
learning_to_learn/experiments/adagrad_correct/text8/max_train/adagrad/
learning_to_learn/experiments/cifar10_finish_std/adadelta/
learning_to_learn/experiments/cifar10_finish_std/adagrad/
learning_to_learn/experiments/cifar10_finish_std/adam/
learning_to_learn/experiments/cifar10_finish_std/momentum/
learning_to_learn/experiments/cifar10_finish_std/nesterov/
learning_to_learn/experiments/cifar10_finish_std/rmsprop/
learning_to_learn/experiments/cifar10_finish_std/sgd/
learning_to_learn/experiments/cifar10_launch/adam_dense/
learning_to_learn/experiments/cifar10_launch/sgd_dense/
learning_to_learn/experiments/cifar10_max_train/adadelta/
learning_to_learn/experiments/cifar10_max_train/adagrad/
learning_to_learn/experiments/cifar10_max_train/adam/
learning_to_learn/experiments/cifar10_max_train/momentum/
learning_to_learn/experiments/cifar10_max_train/nesterov/
learning_to_learn/experiments/cifar10_max_train/rmsprop/
learning_to_learn/experiments/cifar10_max_train/rmsprop2/
learning_to_learn/experiments/cifar10_max_train/sgd/
learning_to_learn/experiments/concatenated_plots/
learning_to_learn/experiments/indcoefnoact/cifar10_start/run1_wrong_init/
learning_to_learn/experiments/l2l/cifar10_zero/run1_wrong_init/
learning_to_learn/experiments/lines/
learning_to_learn/experiments/mnist_finish_std/adadelta/
learning_to_learn/experiments/mnist_finish_std/adagrad/
learning_to_learn/experiments/mnist_finish_std/adam/
learning_to_learn/experiments/mnist_finish_std/momentum/
learning_to_learn/experiments/mnist_finish_std/nesterov/
learning_to_learn/experiments/mnist_finish_std/rmsprop/
learning_to_learn/experiments/mnist_finish_std/sgd/
learning_to_learn/experiments/mnist_max_train/adadelta/
learning_to_learn/experiments/mnist_max_train/adagrad/
learning_to_learn/experiments/mnist_max_train/adam/
learning_to_learn/experiments/mnist_max_train/momentum/
learning_to_learn/experiments/mnist_max_train/nesterov/
learning_to_learn/experiments/mnist_max_train/rmsprop/
learning_to_learn/experiments/mnist_max_train/sgd/
learning_to_learn/experiments/mnist_summary/
learning_to_learn/experiments/resnet4lstm/degenerate/training/results/
learning_to_learn/experiments/resnet4mlp/cifar10_start/run1_wrong_init/
learning_to_learn/experiments/sgd/text8/degenerate/after_1_step/
learning_to_learn/experiments/test_experiment/debug_grid_search/evaluation/
learning_to_learn/experiments/text8_finish_std/adadelta/
learning_to_learn/experiments/text8_finish_std/adagrad/
learning_to_learn/experiments/text8_finish_std/adam/
learning_to_learn/experiments/text8_finish_std/momentum/
learning_to_learn/experiments/text8_finish_std/nesterov/
learning_to_learn/experiments/text8_finish_std/rmsprop/
learning_to_learn/experiments/text8_finish_std/sgd/
learning_to_learn/experiments/text8_finish_std_2/adadelta/
learning_to_learn/experiments/text8_finish_std_2/adagrad/
learning_to_learn/experiments/text8_finish_std_2/adam/
learning_to_learn/experiments/text8_finish_std_2/momentum/
learning_to_learn/experiments/text8_finish_std_2/nesterov/
learning_to_learn/experiments/text8_finish_std_2/rmsprop/
learning_to_learn/experiments/text8_finish_std_2/sgd/
learning_to_learn/experiments/text8_max_train/adadelta/
learning_to_learn/experiments/text8_max_train/adagrad/
learning_to_learn/experiments/text8_max_train/adam/
learning_to_learn/experiments/text8_max_train/momentum/
learning_to_learn/experiments/text8_max_train/nesterov/
learning_to_learn/experiments/text8_max_train/rmsprop/
learning_to_learn/experiments/text8_max_train/sgd/
learning_to_learn/experiments/text8_summary/
debug_early_stop/
learning_to_learn/experiments/adagrad_correct/summarize_max_train.txt
learning_to_learn/experiments/adam/text8/hp_search/test.conf
learning_to_learn/experiments/cifar10_summary/pupil_std/test.txt
learning_to_learn/experiments/indcoefnoact/cifar10_finish/error_log.txt
learning_to_learn/experiments/indcoefnoact/cifar10_finish/error_log2.txt
learning_to_learn/experiments/l2l/mnist_zero/error_log.txt
learning_to_learn/experiments/resnet4mlp/cifar10_finish/error_log.txt

